%h2.text-center.mt-4.mb-4 Sign up
.row
  .col-12.col-md-6.offset-md-3
    .card.mt-4.mb-4.bg-primary.text-light
      .card-header
        %h3 Sign up
      .card-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "new-password", class: "form-control"
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
          .form-group
            = f.submit "Sign up", class: "btn btn-success"
      .card-footer
        = render "devise/shared/links"
